//@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap');
@use "./styles/color";
@use "./styles/material";

$cardBackground: transparentize(color.$black, 0.5);
$cardBackgroundHover: transparentize(color.$black, 0.8);
$cardText: color.$white;
$cardTextShadow: transparentize(color.$gray2, 0.3);

.Card {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  color: $cardText;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 1em;
  backdrop-filter: blur(5px);

  .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: inherit;
    overflow: hidden;
    padding: 30px;
    opacity: 0.7;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: inherit;
    text-shadow: 0 0 1em $cardTextShadow;
    background: radial-gradient(
      closest-side,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  &:hover {
    background-color: $cardBackgroundHover;
    transform: scale(1.03);
    z-index: 999;
  }

  &.large {
    width: 800px;
    height: 500px;
    .title {
      position: absolute;
      font-size: 48px;
      right: 40px;
      bottom: 40px;
      font-weight: 700;
    }
    .writer {
      position: absolute;
      top: 1em;
      left: 1em;
      font-size: 20px;
      font-style: italic;
    }
  }
  &.small {
    width: 240px;
    height: 150px;
    .name {
      position: absolute;
      font-size: 20px;
      right: 20px;
      bottom: 20px;
      font-weight: 700;
      margin: 0 !important;
    }
  }
}
