@use "../../../../../styles/color";
@use "../../../../../styles/simple";
@use "../../../../../styles/weave/widgets";

.PageInfo {
  @include widgets.infoStyle;
}
.connections {
  .name {
    font-size: 16px;
    padding: 4px;
    cursor: pointer;
    background-color: white;
    &:hover {
      background-color: color.$green1;
    }
    &.connected {
      background-color: color.$green2;
      &:hover {
        background-color: color.$red2;
      }
    }
  }
}

.PageList {
  @include widgets.listStyle;
}
