@use "../../../../styles/flexbox";
@use "../../../../styles/material";
@use "../../../../styles/simple";

.wrapper {
  @include simple.scrollbar(3px);
  position: fixed;
  top: 0;
  right: 0;
  width: 420px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 40px;
  transition: 0.7s;
  z-index: 100;
  overflow-x: visible;
  overflow-y: scroll;
  .container {
    right: 10px;
    width: 360px;
    //    background-color: red;
    padding: 0;
  }
  &.isClosed {
    transform: translate(380px);
    .handleBg {
      transform: translate(40px);
    }
  }
}

.handle {
  position: absolute;
  top: 75px;
  left: 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  cursor: pointer;
  .handleBg {
    @include material.shadow(2);
    display: block;
    position: absolute;
    content: "";
    width: 40px;
    height: 28px;
    top: -4px;
    left: -8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #e5e5e5;
    transition: 0.5s ease;
    &:hover {
      @include material.shadow(1);
      opacity: 0.7;
    }
  }
}

.WidgetWrapper {
  @include material.shadow(2);
  position: relative;
  border-radius: 16px 0 16px 0;
  text-shadow: 0 0 1em transparentize(black, 0.7);
  background: transparentize(#ececec, 0.5);
  backdrop-filter: blur(20px);
  color: #222222;
  margin-bottom: 16px;
  .header {
    position: relative;
    border-radius: 16px 0 0 0;
    padding: 16px;
    font-size: 1.2em;
    font-weight: bold;
    color: #5d5d5d;
    &:hover {
      background: rgba(194, 194, 194, 0.21);
      cursor: pointer;
    }
    .toggle {
      position: absolute;
      margin-left: 4px;
      display: inline-block;
      width: 16px;
      height: 16px;
    }
  }
  .content {
    padding: 0 1em 1.5em 1em;
    &.closed {
      display: none;
    }
  }
}
