@use "../../../styles/material";
.SaveLoader {
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 1000;
  .button {
    @include material.shadow(3);
    border: 0;
    margin-right: 15px;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    &:hover {
      @include material.shadow(2);
      background-color: #c2c2c2;
    }
    &.save {
    }
    &.load {
    }
  }
}
