.h1{
  font-size: 80px;
  font-weight: 900;
  margin-bottom:120px;
  margin-top: 120px;
}
.h2{
  font-size: 64px;
  font-weight: 700;
  margin-bottom:80px;
  margin-top: 80px;
}
.h3{
  font-size: 48px;
  font-weight: 600;
  margin-bottom:60px;
  margin-top: 60px;
}
.h4{
  font-size: 32px;
  font-weight: 500;
  margin-bottom:40px;
  margin-top: 40px;
}
.p{
  text-indent: 1em;
  font-size:24px;
  margin-bottom:16px;
  margin-top: 16px;
}