.Project{
  position: relative;
  width:100%;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #383838;
  padding:100px;
  .toHome{
    position: fixed;
    left:10px;
    top:40px;
    border:none;
    background: none;
    font:inherit;
    font-size: 24px;
    color: #eaeaea;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}

.changeMode{
  width:100px;
  height:30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right:100px;
  bottom:40px;
  font-family: inherit;
  background: transparent;
  border:0;
  color:white;
  font-size:20px;
  &:hover{
    text-decoration: underline;
  }

}