@use "./styles/material";
@use "./styles/simple";

.PageAdd {
  position: relative;
  width: 1080px;
  height: 60px;
  margin-top: 20px;
  text-shadow: 0 0 1em transparentize(black, 0.5);
  border: 0;
  border-radius: 20px;
  background: transparentize(#ececec, 0.5);
  backdrop-filter: blur(20px);
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background: transparentize(#ececec, 0.2);
  }
}

.Page {
  @include material.shadow(2);
  position: relative;
  width: 1080px;
  min-height: 300px;
  background-color: transparentize(#f3f3f3, 0.1);
  padding: 30px;
  border-radius: 20px 0 20px 20px;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 60px;

  .header {
    display: flex;
    position: absolute;
    height: 40px;
    top: -40px;
    right: 0;
    .button {
      border: 0;
      background: 0;
      font: inherit;
      font-size: 16px;
      color: white;
      padding: 0;
      margin-right: 16px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .name {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px 15px 0 0;
    background-color: transparentize(#f3f3f3, 0.1);
    .modify {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .list {
    list-style: none;
    padding: 0;
  }
}
