@use "../../../../../styles/material";
@use "../../../../../styles/simple";

.PageNavigator {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;

  .pageNumber {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    .pageButton {
      @include simple.textButton;
      @include material.shadow(1);
      width: 15%;
      border-radius: 5px;
      color: gray;
    }
  }
  .pageSelect {
    @include material.shadow(1);

    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font: inherit;
    border: 0;
    .pageOption {
    }
  }
}
