@use "../../../../../styles/material";
@use "../../../../../styles/simple";

.PageNavigator {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;

  .pageNumber {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    .currentPage {
      @include simple.textInput;
      width: 40px;
    }
    .numButton {
      @include simple.textButton;
      @include material.shadow(1);
      border-radius: 5px;
      color: gray;
    }
  }
  .navButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .navButton {
      @include simple.textButton;
      @include material.shadow(1);
      width: 40%;
      border-radius: 5px;
      color: gray;
    }
  }
}
