@use "../../../../styles/flexbox";
@use "../../../../styles/color";

.DragArea {
  @include flexbox.full;
  pointer-events: none;
  overflow: hidden;
  z-index: 99;
}
.noDrag {
  display: none;
}

.DragTarget {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;

  &.dummy {
    width: 100px;
    height: 60px;
    background-color: red;
  }
  &.textAtom {
    font-size: 24px;
    border: 1px solid transparentize(color.$green1, 0.5);
  }
}

.guide {
  position: absolute;
  top: 0;
  left: 0;
  background-color: magenta;
  &.vertical {
    width: 1px;
    height: 100%;
  }
  &.horizontal {
    height: 1px;
    width: 100%;
  }
}
