.Atom {
  position: absolute;
  font-size: 24px;

  &.clickable {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &.invisible {
    opacity: 0;
    transition: 1s ease;
    //  transform: translateY(50px);
  }
}
