@use "./styles/color";
@use "./styles/simple";
@use "./styles/material";

@mixin infoStyle {
  .section {
    position: relative;
    border-bottom: dashed 1px color.$gray8;
    padding-bottom: 4px;
    .sectionLabel {
      color: color.$gray6;
      font-weight: 700;
      cursor: default;
      margin-top: 8px;
      margin-bottom: 4px;
    }
    .sectionHorizontal {
      display: flex;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  .attribute {
    display: flex;
    margin-right: 20px;
    .attributeLabel {
      color: color.$gray3;
      cursor: default;
      margin-right: 8px;
    }

    .attributeInput {
      @include simple.textInput;
      width: 50px;
      height: 20px;
      &.small {
        width: 40px;
      }
      &.long {
        width: 80px;
      }
    }
    .attributeButton {
      @include simple.textButton;
    }
    .attributeSelect {
      font: inherit;
      font-size: 14px;
      height: 20px;
    }
  }
}

@mixin listStyle {
  list-style: none;
  padding: 0;
  margin: 0;
  .itemLabel {
    display: flex;
    align-items: center;
    position: relative;
    background: color.$gray5;
    color: color.$gray10;
    height: 26px;
  }
  .item {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    cursor: pointer;
    margin: 4px 0;
    background-color: color.$red2;
    border: 1px solid color.$gray11;

    &.placed {
      background-color: color.$white;
    }
    &.selected {
      background-color: color.$green2;
    }
    &:hover {
      background-color: transparentize(color.$green2, 0.8);
      border: 1px solid color.$green1;
    }
  }
  .itemSpan {
    display: inline-block;
    &.index {
      margin-left: 8px;
      width: 10%;
    }
    &.content {
      width: 60%;
    }
    &.type {
    }
  }
}
