@use "./styles/color";
@use "./styles/simple";

@mixin infoStyle {
  .section {
    position: relative;
    padding: 8px 0;
    margin-bottom: 4px;
    border-bottom: dashed 1px color.$gray8;
    .sectionLabel {
      color: color.$gray6;
      font-weight: 700;
      cursor: default;
      margin-bottom: 4px;
    }
    .sectionHorizontal {
      display: flex;
    }
  }

  .attribute {
    display: flex;
    margin-right: 20px;
    .attributeLabel {
      color: color.$gray3;
      cursor: default;
      margin-right: 8px;
    }
    .attributeInput {
      @include simple.textInput;
      width: 50px;
    }
  }
}

.AtomList {
  list-style: none;
  padding: 0;
  margin: 0;
  .item {
    position: relative;
    cursor: pointer;
    padding: 16px 8px;
    border-radius: 12px;
    border: 3px solid #d3d3d3;
    margin: 4px 0;
    .index {
      margin-right: 12px;
    }
    &.selected {
      background: #ffffff;
    }
    &:hover {
      background: #ffffff;
    }
  }
}
.AtomInfo {
  @include infoStyle;
  .inputContent {
    @include simple.scrollbar(4px);
    width: 328px;
    resize: none;
    font: inherit;
    padding: 4px;
    color: color.$gray11;
    background: color.$gray5;
    &:focus {
      outline: none;
      color: color.$gray1;
      background: color.$gray11;
    }
  }
}
