.Project {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.memo {
    background-color: #383838;
  }
  &.weave {
    background: transparent;
    padding: 0;
  }
  .toHome {
    position: fixed;
    left: 10px;
    top: 40px;
    border: none;
    background: none;
    font: inherit;
    font-size: 24px;
    color: #eaeaea;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
