//grayscale
$black: rgb(0, 0, 0);
$gray1: rgb(27, 27, 27);
$gray2: rgb(51, 51, 51);
$gray3: rgb(59, 59, 59);
$gray4: rgb(93, 93, 93);
$gray5: rgb(114, 114, 114);
$gray6: rgb(137, 137, 137);
$gray7: rgb(162, 162, 162);
$gray8: rgb(190, 190, 190);
$gray9: rgb(221, 221, 221);
$gray10: rgb(232, 232, 232);
$gray11: rgb(243, 243, 243);
$white: rgb(255, 255, 255);

//color
$green1: #00c896;
$green2: #adff92;
$red2: #ff9292;
