@mixin centered($direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin overflowContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

@mixin overflowItem {
  flex: 0 0 auto;
}
