@use "./flexbox";

@mixin textButton {
  @include flexbox.centered;
  border: 0;
  border-radius: 0;
  font: inherit;
  cursor: pointer;
  background: 0;
  &:hover {
    text-decoration: underline;
  }
}

@mixin textInput {
  border: 0;
  background: transparentize(white, 0.5);
  border-radius: 0;
  font: inherit;
  padding: 0 5px;
  box-shadow: 1px 1px 3px transparentize(black, 0.7) inset;
}
